<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Child configName="252" resAddress="http://192.168.0.252:81/" loginAddress="http://192.168.0.252:10201/" loginServerType="2" openCodeUpdate="1" openMD5="1" openDLC="1" openGuide="1" openSDK="0" openGM="1" versionName="NW_252" isTDTest="0" ReplaceRes="1" resAndroidPath="TDTest/TD/Assetbundle/Android/" resIOSPath="TDTest/TD/Assetbundle/Iphone/" resMacEditorPath="TDTest/TD/Assetbundle/IOSEditor/" resWinEditorPath="TDTest/TD/Assetbundle/Editor/" apkVersion="15" resPath="E:/Project/LTD/LTD/code_Init/SDK/252/Res" channelType="2" iconPath="InternalTexture/AppIcons/001-2_suo2" fileName="QMZSG_252" appName="全民战三国" companyName="pixone" androidSDKPath="E:/Project/LTD/LTD/code_Init/SDK/252/Android" bundleIdentifier="com.pixone.全民战三国" bundleVersion="NW_252" bundleVersionCode="1" keystorePath="E:/Project/LTD/LTD/Code_TW/SDK/252/KeyStore/Android.keystore" keystorePassword="android" keyName="chwu" keyPassword="android" />
  <Child configName="SF" resAddress="http://218.93.248.115:8080/" loginAddress="http://218.93.248.115:10201/" loginServerType="7" openCodeUpdate="1" openMD5="1" openDLC="1" openGuide="1" openSDK="0" openGM="0" versionName="SF_218" isTDTest="0" ReplaceRes="1" resAndroidPath="TD/Assetbundle/Android/" resIOSPath="TD/Assetbundle/Iphone/" resMacEditorPath="TD/Assetbundle/IOSEditor/" resWinEditorPath="TD/Assetbundle/Editor/" apkVersion="12" resPath="E:/Project/LTD/LTD/code_Init/SDK/SF/Res" channelType="2" iconPath="InternalTexture/AppIcons/001-2_suo2" fileName="QMZSG_SF" appName="全民战三国" companyName="pixone" androidSDKPath="E:/Project/LTD/LTD/code_Init/SDK/SF/Android" bundleIdentifier="com.pixone.全民战三国" bundleVersion="SF_218" bundleVersionCode="1" keystorePath="E:/Project/LTD/LTD/Code_TW/SDK/SF/KeyStore/Android.keystore" keystorePassword="android" keyName="chwu" keyPassword="android" />
  <Child configName="WW_BJ" resAddress="http://182.92.64.167:80/" loginAddress="http://218.93.248.115:10201/" loginServerType="8" openCodeUpdate="1" openMD5="1" openDLC="1" openGuide="1" openSDK="0" openGM="0" versionName="WW_BJ" isTDTest="0" ReplaceRes="1" resAndroidPath="TD/Assetbundle/Android/" resIOSPath="TD/Assetbundle/Iphone/" resMacEditorPath="TD/Assetbundle/IOSEditor/" resWinEditorPath="TD/Assetbundle/Editor/" apkVersion="12" resPath="E:/Project/LTD/LTD/code_Init/SDK/WW_BJ/Res" channelType="0" iconPath="InternalTexture/AppIcons/001-2_suo2" fileName="QMZSG_BJ" appName="全民战三国" companyName="pixone" androidSDKPath="E:/Project/LTD/LTD/code_Init/SDK/WW_BJ/Android" bundleIdentifier="com.pixone.全民战三国" bundleVersion="WW_BJ" bundleVersionCode="1" keystorePath="E:/Project/LTD/LTD/Code_TW/SDK/WW_BJ/KeyStore/Android.keystore" keystorePassword="android" keyName="chwu" keyPassword="android" />
  <Child configName="WW_TW" resAddress="http://61.219.16.52:8080/" loginAddress="http://61.219.16.52:10201/" loginServerType="11" openCodeUpdate="1" openMD5="1" openDLC="1" openGuide="1" openSDK="1" openGM="1" versionName="WW_TW" isTDTest="0" ReplaceRes="1" resAndroidPath="TD/Assetbundle/Android/" resIOSPath="TD/Assetbundle/Iphone/" resMacEditorPath="TD/Assetbundle/IOSEditor/" resWinEditorPath="TD/Assetbundle/Editor/" apkVersion="6" resPath="E:/Project/LTD/LTD/code_Init/SDK/WW_TW/Res" channelType="102" iconPath="InternalTexture/AppIcons/152" fileName="CSXYX_TW" appName="衝殺小英雄" companyName="pixone" androidSDKPath="E:/Project/LTD/LTD/Code_TW/SDK/WW_TW/Android" bundleIdentifier="com.idplay.legu.binglin" bundleVersion="WW_TW" bundleVersionCode="1" keystorePath="E:/Project/LTD/LTD/Code_TW/SDK/WW_TW/KeyStore/p7725.haipiwo.release.keystore" keystorePassword="admin@www.7725.com" keyName="p7725releasekey" keyPassword="admin@www.7725.com" />
  <Child configName="WW_TWTest" resAddress="http://61.219.16.52:8080/" loginAddress="http://192.168.0.251:8201/" loginServerType="3" openCodeUpdate="1" openMD5="1" openDLC="1" openGuide="0" openSDK="1" openGM="1" versionName="WW_TWTest" isTDTest="0" ReplaceRes="1" resAndroidPath="TD/Assetbundle/Android/" resIOSPath="TD/Assetbundle/Iphone/" resMacEditorPath="TD/Assetbundle/IOSEditor/" resWinEditorPath="TD/Assetbundle/Editor/" apkVersion="2" resPath="E:/Project/LTD/LTD/code_Init/SDK/WW_TW/Res" channelType="102" iconPath="InternalTexture/AppIcons/001-2_suo2" fileName="BLCX_TW" appName="兵临城下" companyName="pixone" androidSDKPath="E:/Project/LTD/LTD/Code_TW/SDK/WW_TW/Android" bundleIdentifier="com.pixone.兵临城下" bundleVersion="WW_TWTest" bundleVersionCode="1" keystorePath="C:/Users/Administrator/Desktop/p7725.haipiwo.release.keystore" keystorePassword="admin@www.7725.com" keyName="p7725releasekey" keyPassword="admin@www.7725.com" />
  <Child configName="249" resAddress="http://192.168.0.252:81/" loginAddress="http://192.168.0.249:10201/" loginServerType="1" openCodeUpdate="1" openMD5="1" openDLC="1" openGuide="0" openSDK="0" openGM="1" versionName="NW_249" isTDTest="0" ReplaceRes="1" resAndroidPath="TD/Assetbundle/Android/" resIOSPath="TD/Assetbundle/Iphone/" resMacEditorPath="TD/Assetbundle/IOSEditor/" resWinEditorPath="TD/Assetbundle/Editor/" apkVersion="20" resPath="E:/Project/LTD/LTD/Code_TW/SDK/252/Res" channelType="2" iconPath="InternalTexture/AppIcons/001-2_suo2" fileName="QMZSG_249" appName="全民战三国" companyName="pixone" androidSDKPath="E:/Project/LTD/LTD/Code_TW/SDK/252/Android" bundleIdentifier="com.pixone.全民战三国" bundleVersion="NW_249" bundleVersionCode="1" keystorePath="C:/Users/Administrator/Desktop/Android.keystore" keystorePassword="android" keyName="chwu" keyPassword="android" />
</Config>